<h1><a href='{% url 'blog:list' %}'>블로그 목록 보기</a></h1>
<ul>
    {% for p in post_list %}
    <li>
        {% comment %} <a href="/blog/{{ p.id }}">{{ p.id }}. {{ p.title }}</a> {% endcomment %}
        <a href="{% url 'blog:detail' p.id %}">{{ p.id }}. {{ p.title }}</a>
    </li>
    {% endfor %}
</ul>
<hr>
{% comment %} <a href="/blog/create/">새글쓰기</a> {% endcomment %}
<a href="{% url 'blog:create' %}">새글쓰기1</a>
<a href="{% url 'blog:create_form' %}">새글쓰기2</a>
<a href="{% url 'blog:create_form2' %}">새글쓰기3</a>