<!-- templates/registration/password_reset_confirm.html -->
{% if validlink %}
    <form action="" method="post">
    {% csrf_token %}
    <table><tr>
        <td>{{ form.new_password1.errors }}<label for="id_new_password1">New:</label></td>
        <td>{{ form.new_password1 }}</td>
    </tr><tr>
        <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirm:</label></td>
        <td>{{ form.new_password2 }}</td>
    </tr> <tr>
        <td></td>
        <td><input type="submit" value="변경" /></td>
    </tr></table>
    </form>
{% else %}
    <h1>Password reset failed</h1>
    <p>비밀번호 재설정 링크가 이미 사용되었기 때문에 유효하지 않습니다. 비밀번호 재설정을 새로 요청하세요.</p>
{% endif %}
